<h1>Add a comment on blog entry: </h1>

<%= render :partial => 'blog_entries/blog', :locals => {:b => @blog} %>

<br/>

<%= error_messages_for :comment %>
<% form_for :comment, :url => {:action => :create} do |f| %>
<%= f.hidden_field :blog_entry_id, :value => @blog.id %>

<p>
  Please add your comment below, as plain text (i.e., no Html accepted)
</p>
<p>
  <%= f.text_area :body, :cols => 60, :rows => 10 %>
</p>
<p>
  We will link to your web page if you supply a URI
</p>
<p>
  <%= f.text_field :uri, :size => 50 %>
</p>
<p>
  Give a name to appear as the text of your link
</p>
<p>
  <%= f.text_field :name, :size => 30 %>
</p>
<p>
  <%= f.submit "Submit comment" %>
</p>
<% end %>

<br/>
<%= link_to t('back_to_the_blog'), :back %>

<br/>
<h2>The fine print</h2>
<ul>
    <li>All submitted comments are subject to the licence terms set out in our
        <%= link_to t('terms_and_conditions'), url_for(:action => 'terms') %>.
    </li><li>Approved comments will be posted within one to two business days.
    </li><li>Submissions that do not follow our
        <%= link_to t('submission_guidelines'), url_for(:action => 'submission-guidelines') %> will not be published.
    </li>
</ul>

