<% content_for :head do %>
  <%= stylesheet_link_tag 'blog.css' %>
<% end %>

<div class="blog_header">
  <%= b.created_at.strftime("%A, %d %B %Y") %>, posted by <%= b.author %> 
</div>
<h2>
  <%= link_to "<strong>#{b.title}</strong>", (blog_entry_path b) %>
</h2>

<div style="background-color: #ffffff; margin: 10px; padding: 3px;">
  <%= expand_sku(b) %>
</div>
<div style="clear:both;"></div>
<br/>
