<%= render :partial => 'blog', :locals => {:b => @blog} %>

<br/>
<%= link_to 'Submit a comment', new_blog_entry_comment_path(@blog) %>
<br/>

<a name="comments"> </a>
<ul style="list-style: none;">
<% @blog.comments.approved.date_order.each do |c| %>
  <li>
    <hr>
    <%= time_ago_in_words(c.created_at) %>
    ago, from
    <% if c.uri.blank? %>
      <%= h c.name %>
    <% else %>
      <%= link_to (h c.name), c.uri %> 
    <% end %>
    <br/>
    <quote style="margin:10px; padding:3px;">
      <%= h c.body %>
    </quote>
    <br/>
  </li>
<% end %>
</ul>

<br/>
<%= link_to 'Submit a comment', new_blog_entry_comment_path(@blog) unless @blog.comments.approved.length < 10 %>
<br/>
