<%= render :partial => 'blog', :locals => {:b => @blog} %>

<br/>
<%= link_to 'Submit a comment', new_blog_entry_comment_path(@blog) %>
<br/>

<a name="comments"/>
<ul style="list-style: none;">
<% @blog.comments.approved.lifo_order.each do |c| %>
  <li>
    <hr>
    <%= h c.user.email %> on <%= c.created_at.strftime("%A, %d %B %Y") %>
    <br/>
    <quote style="margin:10px; padding:3px;">
      <%= h c.body %>
    </quote>
    <br/>
  </li>
<% end %>
</ul>

<br/>
<%= link_to 'Submit a comment', new_blog_entry_comment_path(@blog) unless @blog.comments.approved.empty? %>
<br/>
